{% extends "login.html" %}
{% block action %}{{ url_for('password') }}{% endblock %}
{% block title %}Change password{% endblock %}
{% block desc %}
    Change your password if you believe your current password is too weak or if you believe your password has fallen into the wrong hands.
{% endblock %}
{% block userform %}
    <div class="form-label-group">
        <input type="password" name="currentpassword" id="inputCurrentPassword" class="form-control" placeholder="Current Password" required autofocus>
        <label for="inputCurrentPassword">Current Password</label>
    </div>

    <div class="form-label-group">
        <input type="password" name="newpassword" id="inputNewPassword" class="form-control" placeholder="New Password" required>
        <label for="inputNewPassword">New Password</label>
    </div>
    
    <div class="form-label-group">
        <input type="password" name="confirmpassword" id="inputConfirmPassword" class="form-control" placeholder="Confirm Password" required>
        <label for="inputConfirmPassword">Confirm Password</label>
    </div>
{% endblock %}
{% block submit %}Change password{% endblock %}
